<!DOCTYPE html>
{% from "macros/_form.html" import render_form %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>host</title>
	<script src="/static/js/jquery-1.11.3.min.js"></script>
	<script src="/static/js/index.js"></script>
	<script src="/static/bootstrap-3.3.5/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/bootstrap-3.3.5/css/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-default">
	</nav>
	<div class="btn btn-success" data-toggle="modal" data-target="#myModal">+ Add Host</div>
	<table class="table table-bordered table-striped table-hover">
		<thead>
			<tr>
				<th>id</th>
				<th>name</th>
				<th>userame</th>
				<th>password</th>
				<th>status_code</th>
				<th>edit</th>
			</tr>
		</thead>
		<tbody>
            {% for item in host_list%}
			<tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.username }}</td>
                <td>{{ item.password }}</td>
                <td>{{ item.status_code }}</td>
				<td>
                    <a href="{{ url_for('host.delete_host', host_id=item.id )}}"><span class="btn btn-default">删除</span></a>
				</td>
			</tr>
            {% endfor %}
		</tbody>
	</table>
	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Add Host</h4>
				</div>
				<div class="modal-body">
                    {{render_form(url_for('host.index'), form)}}
				</div>
			</div>
		</div>
	</div>
</body>
</html>
